<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>이메일 인증</title>
</head>
<body>
<div style="font-family: Arial, sans-serif; background-color: #ffffff; margin: 0; padding: 0;">
    <div class="container" style="background-color: #ffffff; width: 100%; max-width: 700px; margin: 10px auto; padding: 10px;">
        <img src="https://github.com/Tave100Shot/.github/blob/2c5b9af82017d07582ebbebf09a35c2ffb6d00d6/profile/img/%EB%B0%B1%EB%B0%9C%EB%B0%B1%EC%A4%80%EB%A1%9C%EA%B3%A0.png?raw=true" alt="Header Image" style="width: 100%; max-width: 700px; height: auto;">
        <h1 style="color: #333333;">백발백준 뉴스레터</h1>
        <a href="${url}">여기를 클릭하여 이메일을 인증하세요.</a>
        <a href="#" style="display: inline-block; padding: 7px 18px; background-color: #007BFF; color: #ffffff; text-decoration: none; border-radius: 7px;">백발백준 바로가기</a>
    </div>
</div>
</body>
</html>
