<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Employee Subscription Success</title>

</head>
<body>

<div id=":so" class="Am aiL aO9 Al editable LW-avf tS-tW" hidefocus="true" aria-label="메일 본문" g_editable="true" role="textbox" aria-multiline="true" contenteditable="true" tabindex="1" style="direction: ltr; min-height: 85px;" itacorner="6,7:1,1,0,0" spellcheck="false" aria-owns=":v0" aria-controls=":v0" aria-expanded="false">


    <style>
        @media only screen and (max-width: 700px) {
            .container {
                width: 100% !important;
            }
            img {
                width: 100%;
            }
            p {
                font-size: 18px;
            }
        }
    </style>


    <div style="font-family: Arial, sans-serif; background-color: #ffffff; margin: 0; padding: 0;">
        <div class="container" style="background-color: #ffffff; width: 100%; max-width: 700px; margin: 10px auto; padding: 10px;">
            <img src="https://github.com/Tave100Shot/.github/blob/2c5b9af82017d07582ebbebf09a35c2ffb6d00d6/profile/img/%EB%B0%B1%EB%B0%9C%EB%B0%B1%EC%A4%80%EB%A1%9C%EA%B3%A0.png?raw=true" alt="Header Image" style="width: 100%; max-width: 700px; height: auto;">
            <h1 style="color: #333333;">백발백준 구인구직 뉴스레터 구독을 환영합니다!</h1>
            <p style="color: #666666; line-height: 1.6; font-size: 18px;">안녕하세요,</p>
            <p style="color: #666666; line-height: 1.6; font-size: 18px;">저희 구인구직 뉴스레터를 구독해주셔서 감사합니다. </p>
            <p style="color: #666666; line-height: 1.6; font-size: 18px;">매달 15일에 새로운 취업 공고를 소개해드려요! ~~~~~~~~~~로 찾아올게요. </p>
            <a href="#" style="display: inline-block; padding: 7px 18px; background-color: #007BFF; color: #ffffff; text-decoration: none; border-radius: 7px;">백발백준 바로가기</a>
        </div>
    </div>
</div>
</body>
</html>